{% extends 'base.html' %}
{% block body %}


    <section class="after-head top-block-page with-back white-curve-after section-white-text">
        <div class="overflow-back bg-light-green"></div>
        <div class="content-offs-stick my-5 container">
            <div class="section-solid with-back">
                <div class="z-index-4 position-relative text-center">
                    <h1 class="section-title">About us</h1>
                    <div class="mt-3">
                        <div class="page-breadcrumbs"><a class="content-link" href="{% url 'index' %}">Home</a><span class="mx-2">\</span><span>About us</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <article class="entity-side-image entity-image-left">
                <div class="entity-image"><img class="w-100" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/7/19/w900X450/Sand_Truck_EPS.jpg?w=640&dpr=1.3" alt=""></div>
                <div class="entity-content">
                    <h2 class="entity-title">Who are we</h2>
                    <p class="entity-subtext">What is our mission?</p>
                    <p class="entity-text">Sand Merchandiser is ecommerce site for sand trading.The main moto of
                      this sand portal is to solve the problem of illegal sand mining.The problem of
                      sand minin gi sone of the biggest problem due to which government ,
                      Environment and Workers suffers from loss.</p>
                </div>
            </article>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="grid justify-content-center row">
                <div class="col-lg-3 d-flex">
                    <article class="entity-block entity-hover-shadow text-center">
                        <div class="entity-preview-show-up entity-preview">
                            <div class="embed-responsive embed-responsive-6by4"><img class="embed-responsive-item" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyo_ZG7qH0Q1-frFw640-42xTRTxfSqMckug&usqp=CAU" alt=""></div>
                            <div class="with-back entity-preview-content">
                                <div class="overflow-back bg-theme opacity-70"></div>
                                <div class="mt-auto mx-auto mb-3 h4 entity-white-text text-center">
                                 
                                </div>
                            </div>
                        </div>
                        <div class="entity-content">
                            <h4 class="entity-title">Aaditya Joshi</h4>
                            <div class="entity-subtitle">CEO</div>
                            <p class="entity-text">There are many variations of passages of Lorem Ipsum available, but the majority</p>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 d-flex">
                    <article class="entity-block entity-hover-shadow text-center">
                        <div class="entity-preview-show-up entity-preview">
                            <div class="embed-responsive embed-responsive-6by4"><img class="embed-responsive-item" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyo_ZG7qH0Q1-frFw640-42xTRTxfSqMckug&usqp=CAU" alt=""></div>
                            <div class="with-back entity-preview-content">
                                <div class="overflow-back bg-theme opacity-70"></div>
                                <div class="mt-auto mx-auto mb-3 h4 entity-white-text text-center">
                                </div>
                            </div>
                        </div>
                        <div class="entity-content">
                            <h4 class="entity-title">Atharva Patil</h4>
                            <div class="entity-subtitle">CEO</div>
                            <p class="entity-text">There are many variations of passages of Lorem Ipsum available, but the majority</p>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 d-flex">
                    <article class="entity-block entity-hover-shadow text-center">
                        <div class="entity-preview-show-up entity-preview">
                            <div class="embed-responsive embed-responsive-6by4"><img class="embed-responsive-item" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.6435-9/60804687_2284134168520359_1407130044647604224_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=973b4a&_nc_ohc=2W5Di_SDKMcAX8PcHHL&_nc_ht=scontent-bom1-1.xx&oh=7e4618c24c153b24631e84a5104e87d9&oe=61DCDA5C" alt=""></div>
                            <div class="with-back entity-preview-content">
                                <div class="overflow-back bg-theme opacity-70"></div>
                                <div class="mt-auto mx-auto mb-3 h4 entity-white-text text-center">
                                </div>
                            </div>
                        </div>
                        <div class="entity-content">
                            <h4 class="entity-title">Chirag Ratvekar</h4>
                            <div class="entity-subtitle">CEO</div>
                            <p class="entity-text">There are many variations of passages of Lorem Ipsum available, but the majority</p>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 d-flex">
                  <article class="entity-block entity-hover-shadow text-center">
                      <div class="entity-preview-show-up entity-preview">
                          <div class="embed-responsive embed-responsive-6by4"><img class="embed-responsive-item" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyo_ZG7qH0Q1-frFw640-42xTRTxfSqMckug&usqp=CAU" alt=""></div>
                          <div class="with-back entity-preview-content">
                              <div class="overflow-back bg-theme opacity-70"></div>
                              <div class="mt-auto mx-auto mb-3 h4 entity-white-text text-center">
                              </div>
                          </div>
                      </div>
                      <div class="entity-content">
                          <h4 class="entity-title">Rupesh Gaikwad</h4>
                          <div class="entity-subtitle">CEO</div>
                          <p class="entity-text">There are many variations of passages of Lorem Ipsum available, but the majority</p>
                      </div>
                  </article>
              </div>
            </div>
        </div>
    </section>

{% endblock body %}