{% extends 'base.html' %}
{% block title%} Product Card {% endblock %}
{% block body %}

<style>
  body{
  background: white;
}
</style>

<style>

  * {
   
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .column {
    margin-left: 15%;
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .row {margin:.25rem .5rem 1rem 10rem;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: .2rem .1rem .2rem 1rem;
   }
  .button {
    width: 100%;background:#38fa31 ;border: 2px solid #4caf50;color: black;padding: 5px;font-size: 18px;cursor: pointer;margin: 12px 0;
  }
  </style>
  </head>
  <body>
  
  
  
  <div class="row">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxeXIScHAual-8Ecqruuz6epqCVBrbIeHRvg&usqp=CAU" alt="Denim Jeans" style="width:100%">
        <h1>Truck 1</h1>
        <p class="price">₹600</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
  
    
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmqnDEQ2sRJeoer05aT-9Ti0wA4i4hkP8FOA&usqp=CAU" alt="Denim Jeans" style="width:100%">
        <h1>Truck 2</h1>
        <p class="price">₹600</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
 
    
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8HJ5nhQdEx7xTlymwF8FyLI1YK9KZylKMoQ&usqp=CAU"  alt="Denim Jeans" style="width:100%"/>
        <h1>Truck 3</h1>
        <p class="price">₹600</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    
    
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAzPvi9yS4zFWHGgzpedQQZUw1yUQSmgF2ow&usqp=CAU" alt="Denim Jeans" style="width:100%">
        <h1>Truck 4</h1>
        <p class="price">₹600</p>
        <p><button class="button">Add to Cart</button></p>
     </div>
  </div>
  <div class="row">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsZ4zmdpwwcVlWrUa1w5vFRfhOu7xdEGjFZw&usqp=CAU" alt="Denim Jeans" style="width:100%">
        <h1>Truck 5</h1>
        <p class="price">₹600</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcgYkdMJWfcuqq9D676n_N42HBegnoHG9277d-0CkE_K1BLZnzjy81yrKJQx5K-W-HOIw&usqp=CAU" alt="Denim Jeans" style="width:100%">
        <h1>Truck 6</h1>
        <p class="price">₹600</p>
        <p><button class="button">Add to Cart</button></p>
    </div>
    
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH1fVbOK35bkqJDEyfeYQf3Q471o3d6nLCuG2u57gtpBO5_GNPgPKcdzhGDo2uyG5eWcY&usqp=CAU" alt="Denim Jeans" style="width:100%">
        <h1>Truck 7</h1>
        <p class="price">₹600</p>
        <p><button class="button" >Add to Cart</button></p>
    </div>
    
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNb2SfrHOd_GnYX2AxhXz_iEjEJ8Z1ALxMO-kzJ4XFOpTH-gtvpmaeIyPejFeu2Oy2TFk&usqp=CAU" alt="Denim Jeans" style="width:100%">
        <h1>Truck 8</h1>
        <p class="price">₹600</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
  </div>
  

{% endblock %}
